.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 50px) 400px 50px;
  
}

#navbar {
  grid-column: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
 
  grid-row: span 2;
  
}

#title {
  grid-column: span 4;
}


#content {
  grid-column: span 4;
}

#footer {
  grid-column: span 5;
}
