
.navbar{
    background-color: black;
    display:flex; 

}
.navbar a{
    padding:10px;
    color:white;
    text-decoration: none;

}
@media screen and (min-width:767px){
    .navbar{
        background-color:black;
        flex-direction: row;
        justify-content: right;
     
        
       
    }

    
}

@media screen and (max-width:768px) {
    .container{
        height:500px;
        border: solid;
    }
    .navbar{
        text-align: center;
        flex-direction: column;
    }
}
